/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --background: #161616;
  --foreground: #161616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #161616;
  }
}

/* Global Styling */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

/* Typed Text */
.typed-text {
  display: inline-block;
  min-height: 1rem;
  visibility: visible;
}

@media (max-width: 768px) {
  .typed-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .typed-text {
    font-size: 1rem;
  }

  .typed-text {
    font-size: 18px;
  }
}

/* Resume Content */
.resumeContent {
  padding-left: 50px;
}

@media (max-width: 768px),
(max-width: 480px),
(max-width: 400px) {
  .resumeContent {
    padding-left: 10px;
  }
}

/* Resume AppBar and Tabs */
.resumeAppBar,
.resumeTabs {
  max-width: 150px;
  margin-right: 0px;
}

.tab-panel {
  overflow: hidden; /* This will prevent any scrollbars or arrows from appearing */
}

/* Fade-in-tabs animation */
@keyframes fadeInTabs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-tabs {
  animation: fadeInTabs 0.5s ease-in forwards;
}


/* Fade-in Animation */
.fade-in {
  opacity: 0;
  transform: translateY(60px);  /* Start with a slight downward offset */
  animation: fadeInUp 2s ease forwards;  /* Fade in and move upwards */
}

@media (max-width: 768px),
(max-width: 480px),
(max-width: 400px) {
  .fade-in {
    height: 100vh;
  }
}

@media (max-height: 720px) {
  .fade-in {
    min-height: 200vh;
  }
}

/* Section Styling */
.section-content {
  width: 720px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .section-content {
    width: 90%;
    min-height: 100vh;
  }

  h1, h3 {
    font-size: 1.5rem;
  }

  h6, p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .section-content {
    width: 95%;
    min-height: 100vh;
  }

  h1, h3 {
    font-size: 1.25rem;
  }

  h6, p {
    font-size: 0.9rem;
  }
}

/* Preloader Styling */
.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;  /* Fade-out */
}

.preloader-inner svg {
  transform: rotate(90deg);  /* Rotate SVG to make the infinity horizontal */
}

.infinity-line {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw-line 4s linear forwards, fade-out 0.5s 2.5s forwards;
}

/* Keyframes for Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);  /* Start with element slightly down */
  }
  to {
    opacity: 1;
    transform: translateY(0);  /* Move up to its original position */
  }
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;  /* Fully draw the line */
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
